---
# tasks file for s4a.webinfra
- name: Install some build time packages
  ansible.builtin.package:
    name:
      - git
      - postgresql  # interested in client only
    state: present
  become_user: root

- name: make sure we upgrade pip3 module to latest version
  ansible.builtin.command: python3 -m pip install --upgrade pip

- name: Create project directory
  ansible.builtin.file:
    path: '{{ webinfra_install_dir }}'
    state: directory
    mode: '0755'

- name: Install Django in a virtual environment
  ansible.builtin.pip:
    name: 
      - "django~=4.2.0"           # Django Framework
      - "black"                   # Fancy formatter
      - "psycopg[binary]~=3.1.0"  # PostgreSQL database DBAPI driver
      - "psycopg[pool]"
      - "gunicorn~=20.1.0"        # Production Web Server
      - "whitenoise~=6.4.0"       # Serving static files with Django
      - "environs[django]~=9.5.0" # Fancy handling of environment variables
      - "djangorestframework~=3.13.0" # The name says it all
      - "django-cors-headers~=3.10.0" # Cross-Origin Resource Sharing (CORS) headers handling
    virtualenv: '{{ webinfra_venv }}'
    virtualenv_command : python3 -m venv
